body {
  background-image: url(Imagens/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  font-family: 'Times New Roman', Times, serif;
  min-height: 100vh;
  padding-top: 80px;
}

.calendar-container {
  background-color: #2c2c3e;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  color: white;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header button {
  background-color: #ff4d6d;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.calendar-weekdays,
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
  text-align: center;
}

.calendar-weekdays div {
  font-weight: bold;
}

.calendar-days div {
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-days div:hover {
  background-color: #ff4d6d;
}

.today {
  background-color: #ff4d6d;
  font-weight: bold;
}

/* MENU */
.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #a2a2a2e8;
  padding: 12px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

.top-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.top-menu li {
  margin: 0 10px;
}

.top-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
}

.top-menu a:hover {
  background-color: #ff8fb1;
  color: white;
}
