/* RESET */
html, body {
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  background-image: url(Imagens/fundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Times New Roman', Times, serif;
  min-height: 100vh;
  padding-top: 80px;
}

/* MENU */
.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #a2a2a2e8;
  padding: 12px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

.top-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.top-menu li {
  margin: 0 10px;
}

.top-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
}

.top-menu a:hover {
  background-color: #ff8fb1;
  color: white;
}

/* CONTEÚDO */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTAINER (FORMULÁRIO) */
.home-page .container {
  background-color: #a2a2a2e8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 2px solid #03000f;
  width: 90%;
  max-width: 500px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TEXTOS */
.home-page h1 {
  color: rgb(9, 1, 42);
  font-size: 60px;
  margin-bottom: 0;
}

.home-page p {
  color: rgb(9, 1, 42);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

/* INPUT */
.home-page input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin: 15px 0;
  border: 2px solid #0e0234;
}

/* BOTÃO */
.home-page button {
  background-color: rgb(250, 42, 108);
  color: white;
  font-size: 18px;
  min-width: 120px;
  height: 35px;
  border: none;
  cursor: pointer;
}

.home-page button:hover {
  opacity: 0.9;
}

/* MENSAGEM */
.errorMessage {
  margin-top: 10px;
}

/* LISTA DE TAREFAS */
.task-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 90%;
  max-width: 500px;
}

.task-list li {
  background-color: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  color: #331F19;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;     /* centraliza horizontal */
  justify-content: center; /* centraliza vertical */
  min-height: calc(100vh - 80px); /* desconta o menu */
}

.calculator-page h1 {
    color: #f4f4f4;
    font-size: 50px;
}

.calculator-page input {
    color: #f4f4f4;
}

.calculator {
  background-color: #2c2c3e;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 15px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
}

.calculator-page .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calculator-page button {
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calculator-page button:hover {
  opacity: 0.85;
}

.calculator-page #display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 15px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
}

.equals {
  background-color: #ff4d6d;
  color: white;
}

.zero {
  grid-column: span 2;
}





